.*.swp
*.o
.dirstamp
.deps/
Makefile
Makefile.in
m4/
/docs/
/config.*
/configure
/INSTALL
*.m4
/autom4te.cache/
/compile
/depcomp
/docs/
/install-sh
/libtool
/ltmain.sh
/missing
stamp-h1
src/taskrambler
