.*.swp
*.o
*.a
*.lo
*.la
*.gcda
*.gcno
.dirstamp
.deps/
.libs/
Makefile
configure
Makefile.in
m4/
/config.*
*.crt
*.csr
*.pem
*.m4
taskrambler.conf
/INSTALL
tests/coverage*
/docs/api/
/docs/Doxyfile
/run
/autom4te.cache/
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
stamp-h1
src/taskrambler
/tests/*Test
/tests/*.log
/tests/*.trs
gmon.out
test-driver
/assets/html/_documentation.html
