.*.swp
*.o
*.a
*.gcda
*.gcno
.dirstamp
.deps/
Makefile
Makefile.in
/config*
m4/
/docs/
/INSTALL
coverage.base
coverage.run
coverage.info
coveragereport/
*.m4
/autom4te.cache/
/compile
/depcomp
/docs/
/install-sh
/libtool
/ltmain.sh
/missing
stamp-h1
src/taskrambler
/tests/*Test
gmon.out
test-driver
