div#randval {
    -moz-box-shadow:  0 4px 8px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    box-shadow:       0 4px 8px rgba(0,0,0,0.5);
    left:             200px;
    top:              100px;
    padding:          10px;
    position:         fixed;
    background-color: white;
    border:           1px solid black;
    border-radius:    10px;
    z-index:          20;
}

div#signup-container {
    -moz-box-shadow:  0 4px 8px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    box-shadow:       0 4px 8px rgba(0,0,0,0.5);
    padding:          0px;
    position:         fixed;
    background-image: url(/image/rambler-bg.jpg);
    border-radius:    5px;
    z-index:          20;
}

div#login-container {
    -moz-box-shadow:  0 4px 8px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    box-shadow:       0 4px 8px rgba(0,0,0,0.5);
    padding:          0px;
    position:         fixed;
    background-image: url(/image/rambler-bg.jpg);
    border-radius:    5px;
    z-index:          20;
}

.hide {
    top:     -500px !important;
    display: none !important;
}

.small {
    font-size: small;
}

.x-small {
    font-size: x-small;
}

ul#menu {
    list-style:    none inside;
    margin:        0px;
    padding:       1px 0px 0px;
    border-bottom: 1px solid #7b0b2b;
    display:       inline-block;
    width:         100%;
}

ul#menu li {
    padding:                 2px;
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;
    border-top:              1px solid #7b0b2b;
    border-left:             1px solid #7b0b2b;
    border-right:            1px solid #7b0b2b;
    text-align:              center;
    cursor:                  pointer;

    float:                   left;
    margin-right:            1px;
}

div#sessinfo canvas {
    border:        1px solid black;
}

/* vim: set st=4 sw=4: */
