@font-face {
	font-family: 'old_typewriter';
	src: url(/other/old_typewriter.ttf);
}

@font-face {
	font-family: 'old_newspaper';
	src: url(/other/OldNewspaperTypes.ttf);
}

.clear {
	clear: both;
}

.author {
	font-weight: bold;
}

.abstract {
	font-family: old_newspaper;
}

body {
	color:            rgb(42,44,40);
	background-color: rgb(52,54,50);
	padding-top:      20px;
	padding-bottom:   20px;
	font-size:        15px;
}

h1 {
	font-family: old_newspaper;
	font-size:   30px;
}

h2 {
	font-family: old_newspaper;
	font-size:   20px;
}

h3,h4 {
	font-family:     old_newspaper;
	font-weight:     bold;
	font-size:       15px;
	text-decoration: underline;
}

h4 {
	margin:  0px;
	display: inline-block;
}

hr {
	height:     10px;
	border:     none;
	background: url(/image/rambler-border-t.jpg);
}

.left {
	float: left;
}

.right {
	float: right;
}

.link {
	cursor: pointer;
}


div.border {
	padding:  0px;
	margin:   0px;
	display:  block;
}

div.border table {
	border-spacing:  0;
	border-collapse: collapse;
}

div.border td {
	padding:    0px;
	margin:     0px;
}

div.border .tl {
	width:      10px;
	height:     10px;
	background: url(/image/rambler-border-tl.jpg);
}

div.border .t {
	width:      auto;
	height:     10px;
	background: url(/image/rambler-border-t.jpg);
}

div.border .tr {
	width:      10px;
	height:     10px;
	background: url(/image/rambler-border-tr.jpg);
}

div.border .l {
	width:      10px;
	height:     100%;
	background: url(/image/rambler-border-l.jpg);
}

div.border .content {
}

div.border .r {
	width:        10px;
	height:       100%;
	background:   url(/image/rambler-border-r.jpg);
}

div.border .bl {
	width:      10px;
	height:     10px;
	background: url(/image/rambler-border-bl.jpg);
}

div.border .b {
	width:      auto;
	height:     10px;
	background: url(/image/rambler-border-b.jpg);
}

div.border .br {
	width:      10px;
	height:     10px;
	background: url(/image/rambler-border-br.jpg);
}

#statusline {
	position:    absolute;
	margin:      0px;
	font-family: old_newspaper;
	font-size:   12px;
	text-align:  right;
	z-index:     10;
}

#statusline iframe {
	display:  inline-block;
	float:    left;
	border:   none;
	overflow: hidden;
	width:    300px;
	height:   30px;
}

#statusline ul {
	display:    inline-block;
	width:      480px;
	height:     15px;
	list-style: none;
	padding:    0px;
	margin:     0px;
}

#statusline ul li {
	display:      inline-block;
	border-right: 1px solid black;
	padding-right: 5px;
}

#page {
	top:              50px;
	margin-left:      auto;
	margin-right:     auto;
	width:            800px;
	padding:          10px;
	background-image: url(/image/rambler-bg.jpg);
	border:           1px solid black;
}

#page h1 {
	text-align:  center;
	font-size:   xx-large;
	font-family: old_newspaper;
}

#title {
	width:        677px;
	height:       120px;
	margin-left:  auto;
	margin-right: auto;
	z-index:      0;
}

#title a {
	text-decoration: none;
}

#title div {
	float:    left;
	height:   100px;
	position: relative;
	padding:  0px;
}

#title div.left {
	width: 200px;
}

#title div.right {
	width: 300px;
}

#title div h1 {
	font-size: 60px;
	position:  absolute;
	bottom:    0px;
	margin:    0px;
	color:     rgb(42,44,40);
}

#title div.left h1 {
	right: 0px;
}

#title div.right h1 {
	left: 0px;
}

#title img {
	float: left;
}

#menu {
	text-align:     center;
	margin:         0px;
}

#menu ul {
	display:          inline-block;
	width:            750px;
	height:           40px;
	list-style:       none;
	padding:          0px;
	margin:           0px;
	text-align:       justify;
	text-justify:     distribute-all-lines;
	background-color: rgb(42,44,40);
}

#menu ul li {
	display:        inline-block;
	font-family:    old_newspaper;
	font-size:      20px;
	color:          rgb(255,253,200);
}

#menu ul li.menuedge {
	width: 50px;
	vertical-align: center;
}

#login label, #signup label, #myaccount label {
	font-family: old_newspaper;
	font-size:   15px;
	font-weight: bold;
	color:       rgb(42,44,40);
	display:     table-cell;
}  

#login input, #signup input, #myaccount input {
	display: table-cell;
}  

#login div, #signup div, #myaccount div {
	display: table-row;
}  

#login form, #signup form, #myaccount form {
	display: table;
}  

#login form hr, #signup form hr, #myaccount form hr {
	display: table-cell;
}

#menu ul div {
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0;
}

#menu ul li span {
	cursor: pointer;
	color:  rgb(255,253,200);
}

#menu ul li a {
	text-decoration: none;
	color:           rgb(255,253,200);
}

#main a {
	text-decoration: none;
	font-weight:     bold;
	color:           rgb(42,44,40);
}


#footer {
	margin-top: 10px;
	text-align: center;
	font-size:  11px;
}

#footer a {
	text-decoration: none;
	font-weight:     bold;
	color:           rgb(42,44,40);
}


// vim: set ft=css ts=4 sw=4:
